<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jared Glenn - Resume Site</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/bf5d049ab1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
<div class="container">
<div class="content">
    <div class="top-section">
    <h3 class="welcome">HI THERE! I'M</h3>
    <h1>Jared</h1>
    <h2 class="job-description">FULL-STACK DEVELOPER</h2>
    <div class="sub-intro">
    <h3 class="languages">Python • Flask • SQLAlchemy • Javascript • ReactJS • HTML <br> CSS • Express • MongoDB •
        Git • REST • R</h3>
        <br>
    <h3 class="location">Working remotely from Utah, United States</h3>
    </div>
    <form method="get" action="../static/files/Jared_Glenn_Resume.pdf" target="_blank">
        <button type="submit" class="btn btn-outline-dark custom">CHECK OUT MY RESUME</button>
    </form>
    </div>
    <div>
        <h2 class="section">
            <span class="letter">M</span>
            <span class="letter">Y &nbsp; &nbsp;</span>
            <span class="letter">P</span>
            <span class="letter">R</span>
            <span class="letter">O</span>
            <span class="letter">J</span>
            <span class="letter">E</span>
            <span class="letter">C</span>
            <span class="letter">T</span>
            <span class="letter">S &nbsp; &nbsp;</span>
            <span class="letter">-</span>
        </h2>
        <div class="boxes">
        <div class="card box-1">
            <h4>Professional Apps and Tools <a class="social-link"
                                               href="https://github.com/Jared-Glenn/100-Days-of-Python" target="_blank">
                <span class="github-logo"><i class="fa-brands fa-github"></i></span></a></h4>
            <p>Developed two apps with professional application as part of a solo project.</p>
            <ul>
                <li>Image Watermarking App</li>
                <li>Typing Speed Test</li>
            </ul>
            <p class="logos"><i class="fa-brands fa-python"></i>
                <i class="fa-brands fa-windows"></i>
                <img class="img-logo" src="../static/img/tkinter-logo.png" alt="Tkinter" width="40">
            </p>
        </div>
        <div class="card box-2">
            <h4>Websites and Blogs <a class="social-link" href="https://github.com/Jared-Glenn/58-Days-of-WebDev" target="_blank">
                <span class="github-logo"><i class="fa-brands fa-github"></i></span></a></h4>
            <p>Designed and developed RESTful websites powered by APIs.</p>
            <ul>
                <li>Workplace Cafe</li>
                <li>Top Ten Movies</li>
                <li>Western Star</li>
            </ul>
            <p class="logos"><i class="fa-brands fa-square-js"></i> <i class="fa-brands fa-html5"></i>
                <i class="fa-brands fa-css3-alt"></i> <i class="fa-brands fa-react"></i>
                <img class="img-logo" src="../static/img/flask-logo.png" alt="Flask" width="50"></p>
        </div>
        <div class="card box-3">
            <h4>Games <a class="social-link" href="https://github.com/Jared-Glenn/Runner_Game" target="_blank">
                <span class="github-logo"><i class="fa-brands fa-github"></i></span></a></h4>
            <p>Designed and maintained entertaining and interactive experiences for users.</p>
            <ul>
                <li>Breakout</li>
                <li>Treasure Island</li>
                <li>Tic Tac Toe</li>
                <li>Runner</li>
            </ul>
            <p class="logos"><i class="fa-brands fa-python"></i>
                <img class="img-logo" src="../static/img/pygame-logo.png" alt="Pygame" width="100">
                <img class="img-logo" src="../static/img/ursina-logo.png" alt="Ursina" width="60">
            </p>
        </div>
        </div>
    </div>
    <div>
        <h2 class="section">
            <span class="letter">E</span>
            <span class="letter">D</span>
            <span class="letter">U</span>
            <span class="letter">C</span>
            <span class="letter">A</span>
            <span class="letter">T</span>
            <span class="letter">I</span>
            <span class="letter">O</span>
            <span class="letter">N &nbsp; &nbsp;</span>
            <span class="letter">-</span>
        </h2>
        <div class="boxes">
        <div class="card box-1">
            <h4>Udemy Courses</h4>
            <p>Completed over 800 hours of coursework on the Udemy programming classes listed below.</p>
            <ul class="education">
                <li><a href="https://www.udemy.com/course/100-days-of-code/" target="_blank">100 Days of Code: The
                    Complete Python Pro Bootcamp for 2023</a></li>
                <li><a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/" target="_blank">The
                    Complete 2023 Web Development Bootcamp</a></li>
                <li><a href="https://www.udemy.com/course/the-web-developer-bootcamp/" target="_blank">The Web
                    Developer Bootcamp 2023</a></li>
                <li><a href="https://www.udemy.com/course/python-for-machine-learning-data-science-masterclass/"
                       target="_blank">Python for Machine Learning & Data Science Masterclass</a></li>
            </ul>
            <p class="education-logos">
                <img class="img-logo" src="../static/img/udemy-logo.png" alt="Udemy" width="53">
            </p>
        </div>
        <div class="card box-2">
            <h4>University Degrees</h4>
            <p>Received three degrees in Sociology and Polical Science, all requiring data analysis using SPSS.</p>
            <ul>
                <li>Master of Science in Sociology</li>
                <li>Bachelor of the Arts in Sociology</li>
                <li>Bachelor of the Arts in Political Science</li>
                <li>Certificate of Law and Society</li>
            </ul>
            <p class="education-logos">
                <img class="img-logo" src="../static/img/usu-logo.png" alt="Utah State University" width="60">
            </p>
        </div>
        <div class="card box-3">
            <h4>Courses and Projects</h4>
            <h5><a href="https://www.sololearn.com/" target="_blank">SoloLearn Courses</a></h5>
                <ul class="inside sololearn">
                    <li><a href="https://www.sololearn.com/certificates/CT-2DI4928F" target="_blank">Python</a></li>
                    <li><a href="https://www.sololearn.com/certificates/CT-HU0PP62H">Data Science</a></li>
                    <li><a href="https://www.sololearn.com/certificates/CT-4JCABHLO">HTML</a></li>
                    <li><a href="https://www.sololearn.com/certificates/CT-TJEJRTZ0">CSS</a></li>
                    <li><a href="https://www.sololearn.com/certificates/CT-WQS1J0KV">JavaScript</a></li>
                    <li><a href="https://www.sololearn.com/certificates/CT-COBH9EZE">SQL</a></li>
                    <li><a href="https://www.sololearn.com/certificates/CT-XAJYILW9">C</a></li>
                    <li>C++</li>
                </ul>
                <h5><a href="https://www.freecodecamp.org/news/python-for-everybody/">freeCodeCamp - Python For All</a></h5>
            <br>
                <h5><a href="https://neetcode.io/practice">Neatcode 150</a></h5>
            </ul>
            <p class="education-logos">
                <img class="img-logo" src="../static/img/sololearn-logo.png" alt="SoloLearn" width="120">
                <img class="img-logo" src="../static/img/free-code-camp-logo.png" alt="Free Code Camp" width="120">
                <img class="img-logo" src="../static/img/neatcode-logo.png" alt="NeatCode" width="40">
            </p>
        </div>
        </div>
    </div>
    <div>
        <h2 class="section">
            <span class="letter">C</span>
            <span class="letter">O</span>
            <span class="letter">N</span>
            <span class="letter">T</span>
            <span class="letter">A</span>
            <span class="letter">C</span>
            <span class="letter">T &nbsp; &nbsp;</span>
            <span class="letter">-</span>
        </h2>
        <div class="contact-background">

        </div>
        <div id="contact-section" class="card contact">
            <div class="photo">
                <img class="jared-pic" src="../static/img/Jared_Picture.jpg" alt="Jared Glenn">
            </div>
            <div class="info">
                <div>
                <h6>Jared Glenn</h6>
                <div class="email-div"><a href = "mailto:abc@example.com?subject = Feedback&body = Message">
                    <a href="mailto:jared_glenn@yahoo.com?subject=Website Contact">
                        <p class="email">jared_glenn@yahoo.com</p>
                    </a>
                </div>
                <p class="phone"><a id="phone" class="social-link" href="tel:">+1 (435) 512-3350</a></p>
                <p class="socials"><a class="social-link" href="https://github.com/Jared-Glenn" target="_blank">
                        <i class="fa-brands fa-github grow"></i>
                    </a> &nbsp; &nbsp;
                    <a class="social-link" href="https://stackoverflow.com/users/19099786/jared" target="_blank">
                        <i class="fa-brands fa-stack-overflow grow"></i>
                    </a> &nbsp; &nbsp;
                    <a class="social-link" href="https://www.linkedin.com/in/jared-r-l-glenn/" target="_blank">
                        <i class="fa-brands fa-linkedin-in grow"></i>
                    </a>
                </p>
            </div>
            </div>
            <div class="qualities">
                <div class="leadership">
                    <div class="donut">
                        <p>Leadership</p>
                    </div>
                </div>
                <div class="motivation">
                    <div class="donut">
                        <p>Motivation</p>
                    </div>
                </div>
                <div class="hard-working">
                    <div class="donut">
                        <p>Hard Working</p>
                    </div>
                </div>
                <div class="programming">
                    <div class="donut">
                        <p>Programming</p>
                    </div>
                </div>
                <div class="data-science">
                    <div class="donut">
                        <p>Data Science</p>
                    </div>
                </div>
                <div class="fast-learner">
                    <div class="donut">
                        <p>Fast Learner</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        &copy;
        <span id="copyright">
        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
    </span>
        Jared Glenn
        <p>Photo by <a href="https://unsplash.com/@karaeads?utm_source=unsplash&utm_medium=referral&utm_content
        =creditCopyText">Kara Eads</a> on
            <a href="https://unsplash.com/photos/WKfq1fm4gkU?utm_source=unsplash&utm_medium=referral&utm_content
            =creditCopyText">Unsplash</a>
  </a>
  </p>
    </div>
</div>
</div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>

</body>

</html>