{% extends 'base.html' %}
{%from "bootstrap/form.html" import render_form, render_field%}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Select Movie{% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading">Select Movie</h1>
  {% for movie in movies %}
  <p>
    <a href="{{url_for('get_movie_details',
     id=movie['id'],
     title=movie['title'],
     year=(movie['release_date'].split('-')[0]),
     description=movie['overview'],
     poster=movie['poster_path'],
     )}}"> {{movie['title']}} ({{movie['release_date'].split('-')[0]}})</a>
  </p>
  {%endfor%}

</div>
{% endblock %}