<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <h1>PALETTE</h1>
    <h2>{{palette}}</h2>
    <img src={{url_for('static', filename=file)}} alt="picture">
    <div class="full-palette">
        {%for color in palette:%}
        <div class="splotch" style="background-color: {{color}}"></div>
        {%endfor%}
    </div>
</body>
</html>
