<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body style="background-color: {{palette[0]}}">
    <h1 class="site-name" style="color: {{complementary_color}}">Pictu-ette Perfect</h1>
    <img class="picture" src={{url_for('static', filename=file)}} alt="picture">
    <div class="full-palette">
        {%for color in palette:%}
        <div class="splotch" style="background-color: {{color}}"></div>
        {%endfor%}
    </div>
</body>
</html>
