{% extends 'base.html' %}

{% block title %}Edit Rating{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1>Edit Rating</h1>
            <p>Title: {{book.title}}</p>
            <p>Current Rating: {{book.rating}}</p>
            <p>
        <form action="/edit" method="POST">
        <input hidden="hidden" name="id" value={{book.id}}>
        <input type="text" name="rating" placeholder="New Rating">
        <button type="submit">Change Rating</button>
    </form>
            </p>
    </div>
  </div>
</div>

{% endblock %}
