.content {
    padding: 2rem;
    font-family: 'Cinzel', serif;
    color: white;
}

nav {
    padding: 2rem;
    font-family: 'Cinzel', serif;
}

nav.navbar-custom > a.navbar-brand {
    color: white;
    font-family: 'Black Ops One', cursive;
}

body {
    background-color: #99a9cc;
    background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
    padding: 0 16px;
  }

  h1 {
    font-size: 5rem;
    font-family: 'Black Ops One', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
  }

.row {
    display: grid;
    margin: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "day-1 day-2 day-3 day-4";
}


.day-list {
    margin: 1rem;
    padding: 1rem;
    padding-top: 0;
    height: 20rem;
    background-color: #cca199;
    font-family: 'Cinzel', serif;
    border: 0.2rem solid white;
}

h3 {
    font-size: 1.5rem;
    margin: 0;
    padding-top: 1rem;
    text-shadow: 3px 3px 2px #91716b;
}

h4 {
    font-size: 1.05rem;
    margin-top: 0.20rem;
    margin-left: 0.1rem;
    color: #2d3f66;
}

span.list-text {
    font-family: 'Cinzel', serif;
    font-size: 1.2rem;
    padding: 0.2rem;
    margin: 0.5rem;
    color: #2d3f66;
}

div.list-div {
    background-color: #dac6c2;
    box-shadow: 2px 2px 2px #91716b;
    margin-top: 1rem;
    padding: 0.3rem;
}

div.list-div:hover {
    background-color: #e7d4d0;
    box-shadow: 2px 2px 2px #a5817a;
    cursor: default;
}

input.checkbox {
    width: 20px;
    height: 20px;
    padding: 0.2rem;
    color: white;
}

input.checkbox:hover {
    cursor: pointer;
}