body {
    background-color: rgb(126, 151, 173);
}

.site-name {
    text-align: center;
    font-size: 3rem;
    font-family: 'Tilt Prism', cursive;
}

img.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 2rem;
}


.full-palette {
    padding: 1rem;
    color: white;
    background-color: white;
    padding: 2vw;
    padding-left: 8vw;
    border-radius: 25% 100%;
}


button.splotch {
    display: inline-block;
    height: 15vw;
    width: 15vw;
    margin: 0.5vw;
}

p.rgb-code {
    font-size: 1.15rem;
    text-align: center;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
    opacity: 0;
    transition: opacity 0.8s ease;
}

button.splotch:hover > p.rgb-code {
    opacity: 1;
}

